<nav id="navbar" class="portfolio-nav-header">
  <div class="row">
    <div class="col-4 col-tab-15">
      <a mat-button class="font-size-18 font-weight-700 font-color-purple">
        Shadman Waris
      </a>
    </div>
    <div class="col-8 col-tab-85 text-right font-color-purple">
      <a mat-button href="#home">Home</a>
      <a mat-button href="#about">About Me</a>
      <a mat-button href="#experience">Experience</a>
      <a mat-button href="#experience">Works</a>
      <a mat-button href="#skills">Skills</a>
      <a mat-button href="#contact">Contact</a>
      <a mat-button rel="noreferrer"
        href="https://drive.google.com/file/d/0B1yF4O1Mzt91c3RhcnRlcl9maWxl/view?usp=sharing" target="_blank">Resume</a>
    </div>
  </div>
</nav>