.photo {
  position: absolute;
  top: 58%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: block;
}

.photo img {
  width: 400px;
  height: 480px;
  object-fit: cover;
  border: 10px solid #eabe64;
  filter: grayscale(100%) contrast(150%);
  // box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  display: block;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img {
  // box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  filter: grayscale(0%) contrast(100%);
}

.photo .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap {
  margin-top: 0;
}

.background {
  background-image: url("../../assets/images/stripes-light.png");
  z-index: 0;
}

.background-odd {
  background-image: url("../../assets/images/background-odd.svg");
  z-index: 0;
  width: 1920px;
}

////////////////////////
