<!-- <div class="resume-container">
  <div class="text-center">

    <iframe class="resume-content "
      src="http://docs.google.com/gview?url=http://infolab.stanford.edu/pub/papers/google.pdf&embedded=true"
      frameborder="0"></iframe>
  </div>
</div> -->
<div class="resume-container">
  <iframe class="resume-content " src="https://drive.google.com/file/d/0B1yF4O1Mzt91c3RhcnRlcl9maWxl/view?usp=sharing"
    frameborder="0"></iframe>
  <!-- <object data="https://drive.google.com/file/d/0B1yF4O1Mzt91c3RhcnRlcl9maWxl/view?usp=sharing" type="application/pdf"
    width="100%" height="100%">
    <p>Alternative text - include a link <a
        href="https://drive.google.com/file/d/0B1yF4O1Mzt91c3RhcnRlcl9maWxl/view?usp=sharing">to the
        PDF!</a></p>
  </object> -->
</div>