/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/main.scss";
@import "./assets/scss/shame.scss";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
